h3{font: 40px 'AmericanTypewriter', Cambria, Georgia; color: #282625; margin: 0 auto; width: 600px;}

.Menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.btn{
    width: 100px;
    border-radius: 15px;
    height: 30px;
    font-size: 16px;
    font-family: 'AmericanTypewriter' Cambria, Georgia;
}